extends layout

block append head
  meta(name='mphtools-feature' content='compatibilityUI, cameraPrivacyPopup, compatibilityAutoCheck')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block content
  h1= title
  p(id='dynamic') Make a face...
  div(id='containerCamera')
    video(autoplay='true' id='videoElement')
    button(type='submit' name='snap' id='snap')
      img(src='images/snap.png' width='50px' height='50px')
    a(id="link")
      button(id="download") 
        i(id="fa fa-download") Download
    canvas(id='canvasCamera')

block scripts
  script
    include camera_stream.js
  script(src='https://sdk.morphcast.com/mphtools/v1.0/mphtools.js')
  script(src='https://ai-sdk.morphcast.com/v1.14/ai-sdk.js')
  script
    include mood_filters_preview.js
    include snap_picture.js
