#videoElement {
	width:  100%;
	height: auto;
	background-color: #666;
}

#canvasCamera {
  width:  500px;
  height: 375px;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png'); 
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li p {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li button{
  background-color: #ffb6c0;
  width: 20%;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1); 
  filter: grayscale(100%); 
}

.invert {
  filter: invert(100%); 
}

.sepia {
  filter: sepia(1);
  -webkit-filter: sepia(1); 
  filter: sepia(100%); 
}

.hue-rotate-green {
  filter: hue-rotate(90deg);
}

.red-filter {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
